<!DOCTYPE html>
<html>

<head>
    {{> ../templates/partials/security }} {{> ../templates/partials/head }}
    <title>OneBot</title>
    {{> bundle_css }}
    <link rel="stylesheet" href="css/binary.css">
    {{> bot_css }}
</head>

<body>
    <div id="tour"></div>
    <div id="center"></div>
    <div id="workspace_center"></div>
    <span id="limits-dialog"></span>
    <span id="load-dialog"></span>
    <span id="save-dialog"></span>
    <span id="integrations-dialog"></span>
    <span id="chart-dialog"></span>
    <span id="trading-view-dialog"></span>
    <span id="logPanel" class="draggable-dialog" data-i18n-title="Log">
      <div id="logTable" class="logTable-scroll"></div>
    </span>
    <span id="summaryPanel" class="draggable-dialog" data-i18n-title="Summary"></span>
    <div>
        <div class="blocker"></div>
        <div class="reality-check" style="display: none">
            <h1 data-i18n-text="Reality Check"></h1>
            <p data-i18n-text="Options trading can become a real addiction, as can any other activity pushed to its limits. To avoid the danger of such an addiction, we provide a reality-check that gives you a summary of your trades and accounts on a regular basis."></p>
            <p data-i18n-text="Please specify your preferred reality-check interval in minutes">
                <input id="realityDuration" interval="1" maxlength="2" value="10">
            </p>
            <p id="rc-err" style="display: none;" class="error-msg" data-i18n-text="Please enter a number between 10 to 60."></p>
            <div>
                <button bcont="1" class="button" id="continue-trading" data-i18n-text="Continue Trading"></button>
                <a id="statement-reality-check" class="button-secondary" href="#">
                    <span data-i18n-text="Statement"></span>
                </a>
                <a id="logout-reality-check" class="button-secondary" href="#">
                    <span data-i18n-text="Log out"></span>
                </a>
            </div>
        </div>
    </div>
    {{> ../templates/partials/loading }}
    <div id="topbar">
        <div class="right-header show-on-load">
            {{> ../templates/partials/language }}
        </div>
        <div id="server-status" class="right-header"></div>
        <a id="contact-us" class="right-header" target="_blank" href="#"
            data-i18n-text="Contact us"></a>
        <div id="server-time" class="right-header"></div>
    </div>

    <div id="header" style="display: none;">
        <div class="left-header">
            <div class="logo-wrapper">
                <a href="." id="logo">
                    <div class="logo-parent">
                        <div class="logo">
                            <img class="responsive" src="{{> binary_style_img }}/logo/symbol.svg" alt="OneBot" />
                        </div>
                        <div class="binary-logo-text">
                            <img class="responsive" src="" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {{> ../templates/partials/dbot-banner }}
        <div class="right-header show-on-load">
            <div class="intro-login-logout">
                <div id="account-list">
                    <div id="main-logout">
                        <ul id="main-account" class="nav-menu main-nav">
                            <li class="account">
                                <a href="javascript:;">
                                    <div class="main-account">
                                        <div class="account-type"></div>
                                        <div class="account-id"></div>
                                        <div class="topMenuBalance">&ensp;</div>
                                    </div>
                                    <div class="nav-caret"></div>
                                </a>
                            </li>
                        </ul>
                        <ul id="all-accounts" class="nav-menu main-nav">
                            <li class="account">
                                <a href="javascript:;">
                                    <div class="main-account">
                                        <div class="account-type"></div>
                                        <div class="account-id"></div>
                                        <div class="topMenuBalance">&ensp;</div>
                                    </div>
                                    <div class="nav-caret"></div>
                                </a>
                                <ul>
                                    <div class="login-id-list"></div>
                                    <a href="javascript:;" id="btn_logout" class="logout">
                                        <li id="logout" data-i18n-text="Log out"></li>
                                    </a>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <button id="login" data-i18n-text="Log in" />
            </div>
        </div>
    </div>
    <div id="toolbox" class="actions_menu show-on-load">
        <button data-i18n-title="Reset the blocks to their initial state" id="resetButton" class="toolbox-button icon-reset"></button>
        <!-- <button data-i18n-title="Load new blocks (xml file)" id="load-xml" class="toolbox-button icon-browse"></button>
        <button data-i18n-title="Save the existing blocks (xml file)" id="save-xml" class="toolbox-button icon-save"></button> --->
        <button data-i18n-title="Connect Binary Bot to your Google Drive to easily save and re-use your blocks" id="integrations" class="toolbox-button icon-integrations invisible"></button>

        <span class="toolbox-separator"></span>
        <button data-i18n-title="Undo the changes (Ctrl+Z)" id="undo" class="toolbox-button icon-undo"></button>
        <button data-i18n-title="Redo the changes (Ctrl+Shift+Z)" id="redo" class="toolbox-button icon-redo"></button>

        <span class="toolbox-separator"></span>
        <button data-i18n-title="Carregar Bots" id="load-bot" class="toolbox-button icon-browse"></button>

        <span class="toolbox-separator"></span>
        <button data-i18n-title="Show/hide the summary pop-up" id="showSummary" class="toolbox-button icon-summary"></button>
        <button data-i18n-title="Run the bot" id="runButton" class="toolbox-button icon-run"></button>
        <button data-i18n-title="Stop the bot" id="stopButton" class="toolbox-button icon-stop"></button>
        <button data-i18n-title="Show log" id="logButton" class="toolbox-button icon-info"></button>

        <span class="toolbox-separator"></span>
        <button data-i18n-title="Show chart" id="chartButton" class="toolbox-button icon-chart-line"></button>
        <button data-i18n-title="Show Trading View" id="tradingViewButton" class="toolbox-button icon-trading-view"></button>

        <span class="toolbox-separator"></span>
        <button data-i18n-title="Toggle header" id="toggleHeaderButton" class="toolbox-button icon-hide-header"></button>

        {{! Toolbox main account + list }}
        <div id="toolbox-account" class="right-header" style="display: none">
            <button id="toolbox-login" data-i18n-text="Log in"></button>
            <div id="toolbox-account-list">
                <a href="javascript:;">
                    <ul id="toolbox-main-account" class="nav-menu">
                        <li class="account-type"></li>
                        <li class="account-id"></li>
                        <li class="topMenuBalance"></li>
                        <li class="nav-caret"></li>
                    </ul>
                </a>
            </div>
        </div>
    </div>
    <ul id="toolbox-all-accounts" class="nav-menu main-nav" style="display: none;">
        <li>
            <ul>
                <div class="login-id-list"></div>
                <a href="javascript:;" id="toolbox-btn_logout" class="logout">
                    <li id="toolbox-logout" data-i18n-text="Log out"></li>
                </a>
            </ul>
        </li>
    </ul>

    <div id="blocklyArea"></div>
    <div id="blocklyDiv" style="position: absolute;"></div>
    
    <form id="fileUploadForm" style="display: none;">
        <input data-i18n-title="Open an already saved XML file and retrieve its blocks" type="file" id="files" accept=".xml"
            multiple />
    </form>
    <div id="footer"></div>
    <audio id="announcement" src="sound/announcement.ogg" autostart="false"></audio>
    <audio id="earned-money" src="sound/coins.ogg" autostart="false"></audio>
    <audio id="job-done" src="sound/job-done.ogg" autostart="false"></audio>
    <audio id="error" src="sound/out-of-bounds.ogg" autostart="false"></audio>
    <audio id="severe-error" src="sound/i-am-being-serious.ogg" autostart="false"></audio>
    {{> bundle}} {{> bot}}
    
    <div class="notifyjs-corner" style="bottom: 0px; right: 0px;"></div>
    <div class="notifyjs-corner" style="bottom: 0px; left: 0px;"></div>
</body>

</html>