<!DOCTYPE html>
<html>

  <head>
    {{> ../templates/partials/security }} {{> ../templates/partials/head }}
    <title>Binary Bot</title>
    {{> bundle_css }}
    <link rel="stylesheet" href="css/binary.css">
    {{> bot_css }}
  </head>

  <body>
    <div id="header">
      <div class="left-header">
        <div class="logo-wrapper">
          <a href="https://www.binary.com" target="blank" id="logo">
            <div class="logo-parent">
              <div class="logo">
                <img class="responsive" src="{{> binary_style_img }}/logo/symbol.svg" alt="Binary logo" />
              </div>
              <div class="binary-logo-text">
                <img class="responsive" src="{{> binary_style_img }}/logo/type.svg" alt="Binary logo">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>


    <div id="content-holder">
        <div class="container">
            <h1>Change API Endpoint</h1>
            <div style="border: 1px solid #bababa; padding: 1em;border-radius: 0.5em;">
                <form>
                    <table id="details" style="width: 100%;">
                        <tr><td style="text-align: right"><b>Server</b></td><td><input type="text" id="server_url" value="frontend.binaryws.com" maxlength=30 /><p class="hint no-margin">e.g. frontend.binaryws.com</p></td></tr>
                        <tr><td style="text-align: right"><b>O Auth App ID</b></td><td><input type="text" id="app_id" value="1" maxlength=5 /><p class="hint no-margin">You have to register and get App ID before you can use different OAuth server for authentication. For more information refer to OAuth details on https://developers.binary.com/.</p><p style="color: red; font-size: 0.8em;" id="error">Unable to connect to Connect, fallback to default endpoint.</p><p id="connected"><b>Connected to the endpoint successfully!</b></p></td></tr>
                        <tr><td style="text-align: right"><button class="button" id="new_endpoint" type="submit">Submit</button></td><td><button class="button" id="reset">Reset To Original Settings</button></td></tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    {{> index}}
  <style>
    #details td {
     border: none; 
    }
  </style>
  </body>
</html>
