<!DOCTYPE html>
<html lang="pt">
<head>
{{> ../templates/partials/security }}

{{> ../templates/partials/head }}
	<title>Bem vindo ao OneBot</title>
{{> index_css }}
<link rel="stylesheet" href="css/binary.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridle@2.0.48/css/grid-flex.css" integrity="sha256-J4p1c+K4tD3rnyfA0ztZpoQR0+mBhDTZ/J+YNOalc0k=" crossorigin="anonymous">
</head>

<body>
	{{> ../templates/partials/loading }}
	<div id="topbar">
    <div class="wrapper show-on-load">
		
    </div>
	</div>
	<div id="header">
		<div class="wrapper">
            <div class="logo-wrapper">
            <div id="binary-logo"></div>
            {{> ../templates/partials/dbot-banner }}
        </div>
    </div>
	</div>
	<div id="main">
		<div>
			<div class="content show-on-load">
				<h1 class="center" data-i18n-text="OneBot"></h1>
                <h3 class="center" data-i18n-text="A maior inovação no mercado de operações automatizadas!"></h3>
      		<div style="margin-left:-130px">
                <video class="elementor-video" src="https://videos.files.wordpress.com/U7UcsR4U/apresentac3a7c3a3o_hd.mp4" autoplay="" controls="" controlslist="nodownload"></video>
		    </div>
                <div class="clear">
                    <p class="cta"><a class="button" href="bot.html"><span data-i18n-text="Área de membros"></span></a></p>
                    <p class="center"><span data-i18n-text="Need further assistance?"></span> <a href="https://api.whatsapp.com/send?phone=5511960718208" data-i18n-text="Fale com um consultor"></a>.</p>
                </div>
			</div>
		</div>
	</div>
    <div id="footer"></div>
    {{> index}}
    
</body>
</html>
